* { box-sizing: border-box; }

form {
  border: 1px solid black;
  padding: 20px;
  width: 500px;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}


.inputs {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 10px;
}

.inputs > * {
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 1;
}

input[type="submit"] {
  background: black;
  color: white;
  font-size: 20px;
  padding: 20px;
  border: 0;
  width: 100%;
  text-align: center;
}

input[type="submit"]:focus {
  border-color: blue;
}
